<header class="dark-background angle-edge bottom-right-dark">
  <div class="container ">
    <a href="<%- level %>" class="main--navigation-logo">East Coast Product</a>
    <nav class="navigation navigation-wide">
      <!-- <a href="<%- level %>services">Services</a> -->
      <a href="<%- level %>work">Work</a>
      <a href="<%- level %>about">About</a>
      <a href="https://blog.eastcoastproduct.com" target="_blank">Blog</a>
      <a href="<%- level %>contact" class="button button-default-reverse">Hire Us</a>
    </nav>
    <section class="page--title">
      <% if(layout == "case-study.ejs") { %>
        <h1 class="lede"><%- title %></h1>
        <p class="major"><em><%- name %></em></p>
      <% } else { %>
        <%- description %>
        <%- contents %>
      <% } %>
    </section>
  </div>
  <% if(title == 'About') { %>
      <div class="about-header-image-container">
        <img src="../images/photos/about-page-office-photo@2x.png" alt="Our office"/>
      </div>
    <% } %>
</header>
