<header class="dark-background angle-edge bottom-right">
  <div class="container ">
    <a href="<%- level %>" class="main--navigation-logo">East Coast Product</a>
    <nav class="navigation navigation-wide">
      <% if(titleTag == "Services") { %>
        <a href="<%- level %>services" class="link current">Services</a>
      <% } else { %>
        <a href="<%- level %>services" class="link">Services</a>
      <% } %>
      <% if(titleTag == "Work") { %>
        <a href="<%- level %>work" class="link current">Work</a>
      <% } else { %>
        <a href="<%- level %>work" class="link">Work</a>
      <% } %>
      <% if(titleTag == "About") { %>
        <a href="<%- level %>about" class="link current">About</a>
      <% } else { %>
        <a href="<%- level %>about" class="link">About</a>
      <% } %>
      <% if(titleTag == "Jobs") { %>
        <a href="<%- level %>jobs" class="link current">Jobs</a>
      <% } else { %>
        <a href="<%- level %>jobs" class="link">Jobs</a>
      <% } %>
      <a href="https://blog.eastcoastproduct.com" target="_blank" class="link">Blog</a>
      <a href="<%- level %>contact" class="button button-default-reverse">Hire Us</a>
    </nav>
    <div class="page--title">
      <h1 class="lede"><%- pageHeading %></h1>
      <% if(pageDescription) { %>
      <p class="major"><%- pageDescription %></p>
      <% } %>
      <% if(layout != "case-study.ejs" && pageHeadingImage) { %>
      <div class="header--image">
        <img src="<%- pageHeadingImage %>" alt="<%- pageHeadingImageAlt %>"/>
      </div>
      <% } %>
    </div>
  </div>
</header>
