<header class="dark-background angle-edge bottom-right-dark">
  <div class="container ">
    <div class="main--navigation-logo">
      <a href="<%- level %>"><img src="../images/logos/logo.svg" alt="ECP" /></a>
    </div>
    <nav class="navigation navigation-wide">
      <!-- <a href="<%- level %>services">Services</a> -->
      <a href="<%- level %>work">Work</a>
      <a href="<%- level %>about">About</a>
      <a href="#">Blog</a>
      <a href="#" class="button button-default-reverse">Hire Us</a>
    </nav>
    <section class="page--title">
      <%- description %>
      <%- contents %>
    </section>
  </div>
</header>
