<header class="dark-background angle-edge bottom-right">
  <div class="container ">
    <a href="<%- level %>" class="main--navigation-logo">East Coast Product</a>
    <nav class="navigation navigation-wide">
      <% if(title == "Services") { %>
        <a href="<%- level %>services" class="current">Services</a>
      <% } else { %>
        <a href="<%- level %>services">Services</a>
      <% } %>
      <% if(title == "Work") { %>
        <a href="<%- level %>work" class="current">Work</a>
      <% } else { %>
        <a href="<%- level %>work">Work</a>
      <% } %>
      <% if(title == "About") { %>
        <a href="<%- level %>about" class="current">About</a>
      <% } else { %>
        <a href="<%- level %>about">About</a>
      <% } %>
      <a href="https://blog.eastcoastproduct.com" target="_blank">Blog</a>
      <a href="<%- level %>contact" class="button button-default-reverse">Hire Us</a>
    </nav>
    <div class="page--title">
      <% if(layout == "case-study.ejs") { %>
        <h1 class="lede"><%- title %></h1>
        <p class="major"><em><%- name %></em></p>
      <% } else { %>
        <%- description %>
        <%- contents %>
      <% } %>
    </div>
  </div>
</header>
