<article class="services--container">
  <div class="services--container-image right">
    <img src="<%= collections.services[i].image %>"
      alt="<%= collections.services[i].name %>" />
  </div>
  <div class="services--container-info left">
    <h2><%= collections.services[i].name %></h2>
    <p class="minor"><%= collections.services[i].description %></p>
    <a class="button button-default" href="./services/#<%= collections.services[i].name.toLowerCase() %>">Learn more about <%= collections.services[i].name.toLowerCase() %></a>
  </div>
</article>
