<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="angle-edge top-right-gray bottom-right-gray gray-background first-section-about overflow-hidden">
      <div class="container">
        <h1>The dream team</h1>
        <ul class="team-container">
        <% collections.person.forEach(function(person){ %>
           <li class="person-container">
             <a href="#" class="open-info">
               <img class="person-container_picture" src="../images/photos/team/dou.png" />
               <h2><%- person.name %></h2>
               <p><%- person.title %></p>
             </a>
             <div class="person-info-container is-active">
               <p><%- person.bio %></p>
               <ul>
                 <li> </li>
               </ul>
               <button type="buttons" class="close-info">
                 Close info
               </button>
             </div>
           </li>
        <% }) %>
        </ul>
      </div>
    </section>
    <section class="blue-background angle-edge top-left-blue bottom-left-blue">
      <div class="container">
        <h2>We like to help</h2>
        <p>There's an opportunity for a services company to be more inclusive of their clients, more customer-centric, more cognizant of how to partner with clients to create an awesome team that gets projects done fast. We are that company. We believe in going above and beyond for our clients. We use our years of experience and network to help us be the best help our clients can buy.</p>
        <article>
          <h2 class="major">Values</h2>
          <% collections.values.forEach(function(value) { %>
            <figure class="block-column-3">
            <div class="values-image-container">
              <img src="<%= value.image %>"
                alt="picture" />
            </div>
            <figcaption>
              <h2><%= value.title %></h2>
              <p><%= value.description %></p>
            </figcaption>
          </figure>
          <% }) %>
        </article>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
