<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-about">
    <% include partials/header %>
    <main role="main" id="main">
      <section id="purpose">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our purpose</h1>
          </header>
          <div class="card targetable">
            <p class="paragraph--major">Visionaries should be able to stick to the part of the job that they love: coming up with cool stuff and building it, not worrying about the growth and training of their team. That's where we come in.</p>
          </div>
        </div><!-- end of .container -->
      </section>

      <section id="story">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our story</h1>
          </header>
          <div class="card targetable">
            <p>We started life as a traditional agency, but things changed a bit along the way. We discovered that the  clients we wanted to work for most didn’t want to hire an agency to come in and build a black box for them. They wanted to own the process, the knowledge, and the technology. But they were always trying to hire people, the exact type of people we had on our staff...</p>
            <p>So we changed. <a href="/services/#staff-augmentation">Staff augmentation</a> isn’t a new idea, but we realized that this service aligned with the reasons we’d all moved into leadership and management: we liked to hire, to teach, to lead, to solve problems with people, and to make better teams as a result. And we realized that other companies offering this didn’t have this same level of care for the people and the work. It was just a numbers game to them. But we’ve done the job before and we LOVE it. We love the people and the work they do, and we love making teams better.</p>
            <p>Hire us and you can take your passion for product and focus it on making better stuff. We’ll take our passion for people and give you the team you need to make a dent in the universe.</p>
          </div>
        </div><!-- end of .container -->
      </section>

      <section id="values">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our values</h1>
          </header>
          <ul class="value-list">
            <% collections.values.forEach(function(value) { %>
            <li class="value card targetable">
              <!--<div class="value-image-wrap">
                <img src="<%= value.image %>" alt="Illustration." class="value-image" />
              </div>restore when new illustrations are ready-->
              <h2 class="text-heading-two"><%= value.title %></h2>
              <p class="paragraph--minor"><%= value.description %></p>
            </li>
            <% }) %>
          </ul>
        </div><!-- end of .container -->
      </section>

      <section id="jobs">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Jobs</h1>
          </header>
          <div class="job-list">
            <% collections.jobs.forEach(function(job) { %>
            <a href="/jobs/<%= job.id %>" class="job card targetable">
              <h2 class="text-heading-two"><span class="link-surrogate"><%= job.pageHeading %></span></h2>
              <p><%- job.pageDescription %></p>
            </a>
            <% }) %>
          </div>
        </div><!-- end of .container -->
      </section>

      <section id="team">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our leadership team</h1>
          </header>
          <ul class="employee-list">
            <% collections.person.forEach(function(person){ %>
            <li class="employee card targetable">
              <div class="employee-photo-wrap">
                <img src="/images/photos/team/<%= person.id%>.jpg" alt="Potrait of <%= person.name %>" class="employee-photo" />
              </div>
              <h2 class="text-heading-two employee-name"><%= person.name %></h2>
              <h3 class="paragraph--minor employee-title"><%= person.title %></h3>
              <p class="paragraph--minor employee-bio"><%= person.bio %></p>
              <ul class="list--minor employee-contact">
                <% if(person.contact.email) { %>      <li><span class="icon icon--email-darkest"></span><a href="mailto:<%= person.contact.email %>@eastcoastproduct.com" target="_blank">Email me</a></li><% } %>
                <% if(person.contact.schedule) { %>   <li><span class="icon icon--calendar-darkest"></span><a href="<%= person.contact.schedule %>" target="_blank">Schedule time with me</a></li><% } %>
                <% if(person.contact.tel) { %>        <li><span class="icon icon--phone-darkest"></span><a href="tel:<%= person.contact.tel %>">Call me</a></li><% } %>
                <% if(person.contact.facebook) { %>   <li><span class="icon icon--facebook-darkest"></span><a href="<%= person.contact.facebook %>" target="_blank">Facebook</a></li><% } %>
                <% if(person.contact.twitter) { %>    <li><span class="icon icon--twitter-darkest"></span><a href="<%= person.contact.twitter %>" target="_blank">Twitter</a></li><% } %>
                <% if(person.contact.linkedin) { %>   <li><span class="icon icon--linkedin-darkest"></span><a href="<%= person.contact.linkedin %>" target="_blank">LinkedIn</a></li><% } %>
                <% if(person.contact.github) { %>     <li><span class="icon icon--github-darkest"></span><a href="<%= person.contact.github %>" target="_blank">Github</a></li><% } %>
                <% if(person.contact.dribbble) { %>   <li><span class="icon icon--dribbble-darkest"></span><a href="<%= person.contact.dribbble %>" target="_blank">Dribbble</a></li><% } %>
                <% if(person.contact.spotlight) { %>  <li><span class="icon icon--spotlight-darkest"></span><a href="<%= person.contact.spotlight %>" target="_blank">Spotlight</a></li><% } %>
              </ul>
            </li><!-- end of .card -->
            <% }) %>
          </ul><!-- end of .employees-list -->
        </div><!-- end of .container -->
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
