<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main>
      <section id="mission">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">A simple mission: We like to help</h1>
          </header>
          <div class="card">
            <p class="paragraph--major">There’s an opportunity for a services company to be more inclusive of their clients, more customer-centric, more cognizant of how to partner with clients to create an awesome team that gets projects done fast. We are that company. We believe in going above and beyond for our clients. We use our years of experience and network to help us be the best help our clients can buy.</p>
          </div>
        </div><!-- end of .container -->
      </section>
      <section id="team">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">The dream team</h1>
          </header>
          <ul class="employee-list">
            <% collections.person.forEach(function(person){ %>
            <li class="employee card">
              <div class="employee-photo-wrap">
                <img src="../images/photos/team/<%= person.id%>.jpg" alt="Potrait of <%= person.name %>" class="employee-photo" />
              </div>
              <h2 class="text-heading-two employee-name"><%= person.name %></h2>
              <h3 class="paragraph--minor employee-title"><%= person.title %></h3>
              <p class="paragraph--minor employee-bio"><%= person.bio %></p>
              <ul class="list--minor employee-contact">
                <% if(person.contact.email) { %>      <li><span class="icon icon--email-darkest"></span><a href="mailto:<%= person.contact.email %>@eastcoastproduct.com" target="_blank">Email me</a></li><% } %>
                <% if(person.contact.schedule) { %>   <li><span class="icon icon--calendar-darkest"></span><a href="<%= person.contact.schedule %>" target="_blank">Schedule time with me</a></li><% } %>
                <% if(person.contact.tel) { %>        <li><span class="icon icon--phone-darkest"></span><a href="tel:<%= person.contact.tel %>">Call me</a></li><% } %>
                <% if(person.contact.facebook) { %>   <li><span class="icon icon--facebook-darkest"></span><a href="<%= person.contact.facebook %>" target="_blank">Facebook</a></li><% } %>
                <% if(person.contact.twitter) { %>    <li><span class="icon icon--twitter-darkest"></span><a href="<%= person.contact.twitter %>" target="_blank">Twitter</a></li><% } %>
                <% if(person.contact.linkedin) { %>   <li><span class="icon icon--linkedin-darkest"></span><a href="<%= person.contact.linkedin %>" target="_blank">LinkedIn</a></li><% } %>
                <% if(person.contact.github) { %>     <li><span class="icon icon--github-darkest"></span><a href="<%= person.contact.github %>" target="_blank">Github</a></li><% } %>
                <% if(person.contact.dribbble) { %>   <li><span class="icon icon--dribbble-darkest"></span><a href="<%= person.contact.dribbble %>" target="_blank">Dribbble</a></li><% } %>
                <% if(person.contact.spotlight) { %>  <li><span class="icon icon--spotlight-darkest"></span><a href="<%= person.contact.spotlight %>" target="_blank">Spotlight</a></li><% } %>
              </ul>
            </li><!-- end of .card -->
            <% }) %>
          </ul><!-- end of .employees-list -->
        </div><!-- end of .container -->
      </section>
      <section id="values">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our Values</h1>
          </header>
          <ul class="value-list">
            <% collections.values.forEach(function(value) { %>
            <li class="value card">
              <div class="value-image-wrap">
                <img src="<%= value.image %>" alt="Illustration." class="value-image" />
              </div>
              <h2 class="text-heading-two"><%= value.title %></h2>
              <p><%= value.description %></p>
            </li>
            <% }) %>
          </ul>
        </div><!-- end of .container -->
      </section>
      <!-- hide until we have photos
      <section id="offices">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our offices</h1>
          </header>
          <div class="card">
          </div>
        </div>
      </section>
      -->
      <section id="jobs">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Jobs</h1>
          </header>
          <ul class="job-list">
            <% collections.jobs.forEach(function(job) { %>
            <% if(job.published == true) { %>
            <li class="job card">
              <h2 class="text-heading-two"><a href="../jobs/<%= job.id %>"><%= job.pageHeading %></a></h2>
              <p>Location: <%- job.pageDescription %></p>
            </li>
            <% } %>
            <% }) %>
          </ul>
        </div><!-- end of .container -->
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>