<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <div class="about-main-image">
        <img src="../images/photos/about-page-office-photo.png" />
    </div>
    <section class="angle-edge top-right-gray bottom-right-gray gray-background">
      <div class="container">
        <h1>The dream team</h1>
        <% collections.person.forEach(function(person){ %>
          <div class="person-container">
            <img class="person-container_picture" src="<%- person.image %>" />
            <article class="person-container_info">
              <h2><%- person.name %></h2>
              <p><%- person.title %></p>
              <p><%- person.bio %></p>
            </article>
          </div>
        <% }) %>
      </div>
    </section>
    <section class="blue-background angle-edge top-left-blue bottom-left-blue">
      <div class="container">
        <h2>We like to help</h2>
        <p>There's an opportunity for a services company to be more inclusive of their clients, more customer-centric, more cognizant of how to partner with clients to create an awesome team that gets projects done fast. We are that company. We believe in going above and beyond for our clients. We use our years of experience and network to help us be the best help our clients can buy.</p>
        <article>
          <h2 class="major">Values</h2>
          <% collections.values.forEach(function(value) { %>
            <figure class="block-column-3">
            <div class="values-image-container">
              <img src="<%= value.image %>"
                alt="picture" />
            </div>
            <figcaption>
              <h2><%= value.title %></h2>
              <p><%= value.description %></p>
            </figcaption>
          </figure>
          <% }) %>
        </article>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
