<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="contact--main-title">
      <div class="container">
        <h1>General inquiries</h1>
        <p class="major">Email: <a class="email reverse-email" onclick="location.href='mailto:' + 'hello' + '@' + 'eastcoastproduct.com';"> moc.tcudorptsaoctsae@olleh</a></p>
        <p class="major">Call: <a href="tel:+18667777459"> (866) 777-7459</a></p>
      </div>
    </section>
    <section class="targetable" id="experts">
     <div class="container contact--professionals">
        <h1>Speak with an expert</h1>
        <p>Wanna take things slow? We’re happy to have a quick chat and offer expert advice if that’s more your speed.</p>
        <% collections.person.forEach(function(person){ %>
          <% if(person.numberId == 1 || person.numberId == 2 || person.numberId == 3) { %>
            <article class="contact--professionals-details">
              <img src="../images/photos/team/<%= person.id %>.jpg" alt="Potrait of <%= person.name %>" class="professionals-potrait" />
              <div class="professionals-info">
                <h2><%= person.name %></h2>
                <p><%= person.title %></p>
                <p class="minor"><%= person.name.split(" ")[0] %> is an expert in: <%= person.areas %>.</p>
                <ul class="employee-contact">
                  <% if(person.contact.email) { %>
                  <li><span class="icon icon--monitor-black"></span><a class="email" onclick="location.href='mailto:<%= person.contact.email %>' + '@eastcoastproduct.com';" target="_blank">Email</a><noscript>This email is scripted to prevent spam. Please enable JavaScript to be able to send an email.</noscript></li>
                  <% } %>
                  <% if(person.contact.tel) { %>
                  <li><span class="icon icon--phone-black"></span><a href="tel:<%= person.contact.tel %>">Call</a></li>
                  <% } %>
                  </li>
                  <% if(person.contact.facebook) { %>
                  <li><span class="icon icon--facebook-black"></span><a href="<%= person.contact.facebook %>" target="_blank">Facebook</a></li>
                  <% } %>
                  <% if(person.contact.twitter) { %>
                  <li><span class="icon icon--twitter-black"></span><a href="<%= person.contact.twitter %>" target="_blank">Twitter</a></li>
                  <% } %>
                  <% if(person.contact.linkedin) { %>
                  <li><span class="icon icon--linkedin-black"></span><a href="<%= person.contact.linkedin %>" target="_blank">LinkedIn</a></li>
                  <% } %>
                  <% if(person.contact.github) { %>
                  <li><span class="icon icon--github-black"></span><a href="<%= person.contact.github %>" target="_blank">Github</a></li>
                  <% } %>
                  <% if(person.contact.spotlight) { %>
                  <li><span class="icon icon--phone-black"></span><a href="<%= person.contact.spotlight %>" target="_blank">Spotlight</a></li>
                  <% } %>
                  <% if(person.contact.scheduling) { %>
                  <li><span class="icon icon--phone-black"></span><a href="<%= person.contact.scheduling %>" target="_blank">Scheduling</a></li>
                  <% } %>
                </ul>
              </div>
            </article>
          <% } %>
        <% }) %>
     </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
