<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="contact--main-title angle-edge bottom-left-gray">
      <div class="container">
        <h1>General inquiries</h1>
        <p class="major">Send us an email: <a class="email reverse-email" onclick="location.href='mailto:' + 'hello' + '@' + 'eastcoastproduct.com';"> moc.tcudorptsaoctsae@olleh</a></p>
        <p class="major">Give us a call: <a href="tel:+18667777459"> (866) 777-7459</a></p>
      </div>
    </section>
    <section id="experts">
     <div class="container contact--professionals">
        <h1>Speak with an expert</h1>
        <p>Wanna take things slow? We’re happy to have a quick chat and offer expert advice if that’s more your speed.</p>
        <% collections.person.forEach(function(person){ %>
          <% if(person.numberId == 1 || person.numberId == 2 || person.numberId == 3) { %>
            <article class="contact--professionals-details">
              <img src="../images/photos/team/<%= person.id %>.jpg" alt="Potrait of <%= person.name %>" class="professionals-potrait" />
              <div class="professionals-info">
                <h2><%= person.name %></h2>
                <p><%= person.title %></p>
                <p class="minor"><%= person.name.split(" ")[0] %> is an expert in: <%= person.areas %>.</p>
                <ul class="employee-contact">
                   <li><span class="icon icon--phone-black"></span>
                     <% if(person.contact.email) { %>
                      <a href="mailto:<%= person.contact.email %>">Email</a>
                     <% } %>
                     <% if(person.contact.tel) { %>
                      or <a href="tel:<%= person.contact.tel %>">Call</a>
                     <% } %>
                   </li>
                   <% if(person.contact.facebook) { %>
                     <li><span class="icon icon--facebook-black"></span>
                       <a href="<%= person.contact.facebook %>" target="_blank">Facebook</a>
                     </li>
                   <% } %>
                   <% if(person.contact.twitter) { %>
                     <li><span class="icon icon--twitter-black"></span>
                     <a href="<%= person.contact.twitter %>" target="_blank">Twitter</a></li>
                   <% } %>
                   <% if(person.contact.linkedin) { %>
                     <li><span class="icon icon--linkedin-black"></span><a href="<%= person.contact.linkedin %>" target="_blank">LinkedIn</a></li>
                   <% } %>
                   <% if(person.contact.github) { %>
                     <li><span class="icon icon--github-black"></span><a href="<%= person.contact.github %>" target="_blank">Github</a></li>
                   <% } %>
                   <% if(person.contact.spotlight) { %>
                     <li><span class="icon icon--phone-black"></span><a href="<%= person.contact.spotlight %>" target="_blank">Spotlight</a></li>
                   <% } %>
                   <% if(person.contact.dribble) { %>
                     <li><span class="icon icon--phone-black"></span><a href="<%= person.contact.dribble %>" target="_blank">Dribble</a></li>
                   <% } %>
                   <% if(person.contact.scheduling) { %>
                     <li><span class="icon icon--phone-black"></span><a href="<%= person.contact.scheduling %>" target="_blank">Scheduling</a></li>
                   <% } %>
                 </ul>
              </div>
            </article>
          <% } %>
        <% }) %>
     </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
