<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-contact">
    <% include partials/header %>
    <main role="main" id="main">
      <section id="general">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">I have a question</h1>
          </header>
          <div class="card targetable">
            <p class="paragraph--major">Email: <a href="mailto:hello@eastcoastproduct.com">hello@eastcoastproduct.com</a><br>
            <!--Call: <a href="tel:+18667777459">(866) 777-7459</a>--></p>
          </div>
        </div><!-- end of .container -->
      </section>
      <section id="form">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">I'd like to talk about a project</h1>
          </header>
          <div class="card targetable">

            <div class="contact-form-wrapper">
              <form action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdaxTKxUSWx4AbC9qVkV3ti3i0DG_Sm0lv3-27IkcC5qJiHRg/formResponse" class="contact-form" id="contact-form" method="post">
                <div class="contact-form-field">
                  <label for="entry.591189110">First name</label>
                  <input id="entry.591189110" class="contact-input" type="text" name="entry.591189110" required>
                </div>
                <div class="contact-form-field">
                  <label for="entry.46216809">Last name</label>
                  <input id="entry.46216809" class="contact-input" type="text" name="entry.46216809" required>
                </div>
                <div class="contact-form-field">
                  <label for="entry.227144112">Email address</label>
                  <input id="entry.227144112" class="contact-input" type="email" name="entry.227144112" required>
                </div>
                <div class="contact-form-field">
                  <label for="entry.384566359">Phone number</label>
                  <legend class="contact-field-desc">Optional</legend>
                  <input id="entry.384566359" class="contact-input" type="tel" name="entry.384566359">
                </div>
                <div class="contact-form-field">
                  <label for="entry.530647033">Role</label>
                  <legend class="contact-field-desc">Optional</legend>
                  <select id="entry.530647033" class="contact-input" name="entry.530647033">
                    <option value="" disabled="" selected="">Please choose the role that best describes you</option>
                    <option value="Founder">Founder</option>
                    <option value="Technical">Technical</option>
                    <option value="Designer">Designer</option>
                    <option value="Operations">Operations</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="contact-form-field">
                  <label for="entry.1467602629">What can we do for you?</label>
                  <legend class="contact-field-desc">Optional</legend>
                  <textarea id="entry.1467602629" class="contact-input" name="entry.1467602629"></textarea>
                </div>
                <div class="contact-form-field">
                  <label for="entry.1749277813">What is your estimated budget?</label>
                  <legend class="contact-field-desc">Optional</legend>
                    <select id="entry.1749277813" class="contact-input" name="entry.1749277813">
                      <option value="" disabled="" selected="">Please choose a range</option>
                      <option value="Under $25,000">Under $25,000</option>
                      <option value="$25,000 to $100,000">$25,000 to $100,000</option>
                      <option value="$100,000 to $250,000">$100,000 to $250,000</option>
                      <option value="Over $250,000">Over $250,000</option>
                    </select>
                </div>
                <div class="contact-form-field">
                  <label for="entry.1029250824">How did you hear about us?</label>
                  <legend class="contact-field-desc">Optional</legend>
                  <input id="entry.1029250824" class="contact-input" type="text" name="entry.1029250824">
                </div>
                <input type="submit" value="Get in touch" class="contact-button primary large">
              </form><!-- end of form -->
              <!-- fix later<script>
                $('#contact-form').submit(function(e) {
                  e.preventDefault();
                  $.ajax({
                    url: "url to google form responses",
                    data: $(this).serialize(),
                    type: "POST",
                    dataType: "xml",
                    success: function(data) {
                      console.log('Submission successful');
                    },
                    error: function(xhr, status, error) {
                      console.log('Submission failed: ' + error);
                    }
                  });
                });
              </script>-->
            </div>
          </div>
        </div>
      </section>
      <section id="experts">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">I'd like some advice from an expert</h1>
          </header>
          <ul class="employee-list">
            <% collections.person.forEach(function(person){ %>
            <% if(person.id == "chris-swenor" || person.id == "steve-hickey") { %>
            <li class="employee card targetable">
              <div class="employee-photo-wrap">
                <img src="/images/photos/team/<%= person.id%>.jpg" alt="Potrait of <%= person.name %>" class="employee-photo" />
              </div>
              <h2 class="text-heading-two employee-name"><%= person.name %></h2>
              <h3 class="paragraph--minor employee-title"><%= person.title %></h3>
              <p class="paragraph--minor employee-bio"><%= person.bio %></p>
              <p class="paragraph--minor"><strong><%= person.name.split(" ")[0] %> is an expert in:</strong> <br><%= person.areas %>.</p>
              <ul class="list--minor employee-contact">
                <% if(person.contact.email) { %>      <li><span class="icon icon--email-darkest"></span><a href="mailto:<%= person.contact.email %>@eastcoastproduct.com" target="_blank" rel="noopener">Email me</a></li><% } %>
                <% if(person.contact.schedule) { %>   <li><span class="icon icon--calendar-darkest"></span><a href="<%= person.contact.schedule %>" target="_blank" rel="noopener">Schedule time with me</a></li><% } %>
                <% if(person.contact.tel) { %>        <li><span class="icon icon--phone-darkest"></span><a href="tel:<%= person.contact.tel %>">Call me</a></li><% } %>
                <% if(person.contact.facebook) { %>   <li><span class="icon icon--facebook-darkest"></span><a href="<%= person.contact.facebook %>" target="_blank" rel="noopener">Facebook</a></li><% } %>
                <% if(person.contact.twitter) { %>    <li><span class="icon icon--twitter-darkest"></span><a href="<%= person.contact.twitter %>" target="_blank" rel="noopener">Twitter</a></li><% } %>
                <% if(person.contact.linkedin) { %>   <li><span class="icon icon--linkedin-darkest"></span><a href="<%= person.contact.linkedin %>" target="_blank" rel="noopener">LinkedIn</a></li><% } %>
                <% if(person.contact.github) { %>     <li><span class="icon icon--github-darkest"></span><a href="<%= person.contact.github %>" target="_blank" rel="noopener">Github</a></li><% } %>
                <% if(person.contact.dribbble) { %>   <li><span class="icon icon--dribbble-darkest"></span><a href="<%= person.contact.dribbble %>" target="_blank" rel="noopener">Dribbble</a></li><% } %>
                <% if(person.contact.spotlight) { %>  <li><span class="icon icon--spotlight-darkest"></span><a href="<%= person.contact.spotlight %>" target="_blank" rel="noopener">Spotlight</a></li><% } %>
              </ul>
            </li><!-- end of .card -->
            <% } %>
            <% }) %>
          </ul><!-- end of .employees-list -->
        </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
