<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-home">
    <% include partials/header %>
    <main role="main" id="main">

      <section id="services">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">What we do</h1>
          </header>
          <p class="paragraph--major">East Coast Product is a team of agency-trained designers, developers and leaders that can help you grow your company faster and more confidently.</p>
          <p class="paragraph--major">Our people join your team fast, make it run better, and help you replace them with permanent hires. We free you up to focus on your product while we create the processes and structure to support sustained team growth.</p>
          <a href="/services" class="button--default">Learn more about our services</a>
        </div>
      </section>

      <section id="clients">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Clients and partners</h1>
          </header>
          <div class="logo-grid">
            <div id="vsnap" class="logo card targetable">Vsnap</div>
            <div id="human-condition-safety" class="logo card targetable">Human Condition Safety</div>
            <div id="vici-capital-partners" class="logo card targetable">Vici Capital Partners</div>-->
            <div id="resilient-coders" class="logo card targetable">Resilient Coders</div>
            <div id="velir" class="logo card targetable">Velir</div>
          </div>
        </div>
      </section>

      <section id="mentions">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Media mentions</h1>
          </header>
          <div class="mentions-list">
            <% collections.mentions.forEach(function(mention){ %>
            <a href="<%= mention.mentionURL %>" class="mention card">
              <div class="mention-logo-wrap">
                <img src="/images/mention-logos/<%= mention.publicationLogo %>" alt="Logo of <%= mention.publication %>" class="mention-logo" />
              </div>
              <h2 class="text-heading-two mention-title">
                <span class="link-surrogate"><%= mention.mentionTitle %></h2></span>
              <h3 class="paragraph--minor mention-date"><%= mention.publication %> | <%= mention.mentionDate %></h3>
            </a><!-- end of .card -->
            <% }) %>
          </div><!-- end of .mentions-list -->
        </div>
      </section>
      
    </main>
    <% include partials/footer %>
  </body>
</html>
