<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main>
      <section>
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Who we are</h1>
            <a href="<%- level %>about" class="button--default">Meet the team</a>
          </header>
          <div class="card">
            <p class="paragraph--major">We are a group of expert designers, developers, and strategists. We work in small teams focused on only your project. We’ll find the right solutions to your challenges, together.</p>
          </div><!-- end of .card -->
        </div>
      </section>
      <section>
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Our clients and partners</h1>
            <a href="<%- level %>work" class="button--default">Hear their stories</a>
          </header>
          <ul class="logo-grid">
            <li id="innovationWomen" class="logo card">Innovation Women</li>
            <li id="velir" class="logo card">Velir</li>
            <li id="resilientCoders" class="logo card">Resilient Coders</li>
            <li id="snapx" class="logo card">SNAPX</li>
            <li id="cityAwake" class="logo card">City Awake</li>
          </ul>
        </div>
      </section>
      <section>
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Services we offer</h1>
            <a href="<%- level %>services" class="button--default">Learn more <span class="visually-hidden">about what we do</span></a>
          </header>
          <% collections.services.forEach(function(service){ %>
          <div class="services--container card">
            <h2 class="text-heading-two"><%= service.title %></h2>
            <% if(service.leadImage) { %>
            <img src="<%= service.leadImage %>" alt="<%= service.title %>" class="card-image--hang-right-wide" />
            <% } %>
            <p><%= service.description %></p>
          </div>
          <% }) %>
        </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>

