<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section>
      <div class="container">
        <h1 class="text-heading-one">Who we are</h1>
        <p class="major">We are a group of expert designers, developers, and strategists. We work in small teams focused on only your project. We’ll find the right solutions to your challenges, together.</p>
        <a href="<%- level %>about" class="button--default">Meet the team</a>
      </div>
    </section>
    <section>
      <div class="container">
        <h1 class="text-heading-one">Our clients and partners</h1>
        <p class="major">Our clients rock. We believe that you’re the sum of the people you surround yourself with, and we’ve had the privilege to surround ourselves with some of the best.</p>
        <ul class="clients--container">
          <li id="innovationWomen">Innovation Women</li>
          <li id="velir">Velir</li>
          <li id="resilientCoders">Resilient Coders</li>
          <li id="snapx">SNAPX</li>
          <li id="cityAwake">City Awake</li>
        </ul>
        <a href="<%- level %>work" class="button--default">Hear their stories</a>
      </div>
    </section>
    <section>
      <div class="container">
        <h1 class="text-heading-one">Services we offer</h1>
        <p class="major">Our teams use continuous short bursts of execution to bring you quickly from new ideas to great experiences, delivering successful products for web and mobile.</p>
        <div class="services--list">
          <% collections.services.forEach(function(service){ %>
            <article class="services--container">
              <div class="services--container-info">
                <% if(service.leadImage) { %>
                <div class="services--container-image right">
                  <img src="<%= service.leadImage %>" alt="<%= service.title %>" />
                </div>
                <% } %>
                <h2><%= service.title %></h2>
                <p><%= service.description %></p>
                <a class="button--default" href="./services/#<%= service.id %>">Learn more <span class="hidden">about <%= service.title %></span></a>
              </div>
            </article>
          <% }) %>
        </div>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>

