<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section class="job--content-container">
      <div class="container">
        <%- contents %>
        <h2 class="text-heading-two">How To Apply</h2>
        <p>Please email our <%= hiringContactPosition %>, <%= hiringContactFirstName %> <%= hiringContactLastName %></a>, if you’re interested in applying for the position.</p>
        <a href="mailto:<%= hiringContactEmail %>" class="button button-default-reverse" target="_blank">Email <%= hiringContactFirstName %></a>
      </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
