<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <main>
      <section id="contents">
        <div class="container">
          <div class="card">
            <%- contents %>
          </div>
        </div>
      </section>
      <section id="apply">
        <div class="container">
          <div class="card">
            <h2 class="text-heading-two">How To Apply</h2>
            <p>Please email our <%= hiringContactPosition %>, <%= hiringContactFirstName %> <%= hiringContactLastName %></a>, if you’re interested in applying for the position.</p>
            <a href="mailto:<%= hiringContactEmail %>" class="button--default" target="_blank">Email <%= hiringContactFirstName %></a>
          </div>
        </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
