<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section>
    <div class="container">
      <% collections.clients.forEach(function(client){ %>
       <% if(client.id == 'sna') {} else { %>
        <article class="clients--container-info">
          <h1><a href="../case_study/<%= client.id %>"><%- client.title %></a></h1>
          <h2><%- client.name %></h2>
          <div class="clients--image-container">
            <img src="<%= client.listingImage %>" alt="<%= client.name %>" />
          </div>
          <div>
            <p><%- client.description %></p>
            <a href="../case_study/<%= client.id %>" class="button button-default">
              Learn more about <%- client.name %>
            </a>
          </div>
        </article>
        <% } %>
      <% }) %>
    </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
