<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <section>
    <div class="container">
      <% collections.clients.forEach(function(client){ %>
       <% if(client.id == 'sna') {} else { %>
        <article class="clients--container-info">
          <h1><a href="../case_study/<%= client.id %>"><%- client.pageHeading %></a></h1>
          <h2><%- client.clientName %></h2>
          <div class="clients--image-container light-gray-mask angle-edge-mask bottom-left" style="background-color: #<%= client.brandColor %>;">
            <img src="<%= client.leadImage %>" alt="A screenshot from the <%= client.clientName %> project." />
          </div>
          <div>
            <p><%- client.listingDescription %></p>
            <a href="../case_study/<%= client.id %>" class="button button-default">
              Learn more about <%- client.projectName %>
            </a>
          </div>
        </article>
        <% } %>
      <% }) %>
    </div>
    </section>
    <% include partials/footer %>
  </body>
</html>
